.navbar {
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 70px;
  z-index: 1;
  transition: all 0.5s ease-in;
}
.navbar-black {
  background-color: #111;
}
.nav-logo {
  display: grid;
  place-items: center;
}
.logo {
  margin: 10px 10px 10px 20px;
  height: 30px;
  cursor: pointer;
}

.links-container {
  display: flex;
  align-items: center;
}
.links {
  display: flex;
}
.link {
  font-size: 18px;
  margin: 10px;
  color: white;
  text-decoration: none;
  transition: 0.5s ease;
}
.link:hover {
  color: rgb(148, 148, 148);
}

.right-side {
  display: flex;
  justify-content: flex-end;
}
.right-side div {
  margin: 0 10px;
}
.search {
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}

.notification {
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}

.nav-avatar-container {
  display: grid;
  place-items: center;
}
.nav-avatar {
  display: flex;
}
.img {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
.dropdown {
  margin: 0;
  color: white;
  cursor: pointer;
}
